<div class="main" ui-view>
	
</div>
<footer id="foot">
	<span ui-sref-active="on">
		<a ui-sref="index.home"><i class="fa fa-home"></i><br><b>首页</b></a>
	</span>
	<span ui-sref-active="on">
		<a ui-sref="index.type"><i class="fa fa-file-text-o"></i><br><b>分类</b></a>
	</span>
	<span ui-sref-active="on">
		<a ui-sref="index.ship"><i class="fa fa-compass"></i><br><b>社区</b></a>
	</span>
	<span ui-sref-active="on">
		<a ui-sref="index.msg"><i class="fa fa-comment"></i><br><b>消息</b></a>
	</span>
	<span ui-sref-active="on">
		<a ui-sref="index.user"><i class="fa fa-user"></i><br><b>我的</b></a>
	</span>
</footer>